body {
    margin: 0;
    background: #061006;
    color: #c8ffc8;
    font-family: 'Courier New', monospace;
}

nav {
    background: #020702;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #9aff9a;
    margin: 0 15px;
    text-decoration: none;
}

header {
    text-align: center;
    padding: 100px 20px;
}

header h1 {
    font-size: 4rem;
    color: #2aff2a;
    letter-spacing: 5px;
}

section {
    max-width: 700px;
    margin: auto;
    padding: 40px;
}

.puzzle {
    background: #020702;
    padding: 30px;
    border: 1px solid #2aff2a;
    text-align: center;
}

.puzzle input {
    padding: 10px;
    width: 80%;
    background: black;
    color: #9aff9a;
    border: 1px solid #2aff2a;
}

.puzzle button {
    padding: 10px 20px;
    background: #2aff2a;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 30px;
    color: #ff4d4d;
}
