* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* NAV (estilo original que enviaste) */
nav {
    background: #0a0a0a;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-family: 'center';
}

nav a:hover {
    opacity: 0.8;
}

/* HEADER */
header {
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

/* COMIC */
.comic-section {
    max-width: 900px;
    margin: auto;
    padding: 30px 20px;
    text-align: center;
}

.comic-pages {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.comic-pages img {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: auto;
    border-radius: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 25px;
    color: #777;
}